# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite
*.db
*.sqlite3

# Temp fayllar
temp/*
!temp/.gitkeep

# Log fayllar
logs/*
!logs/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Config (ishonchli ma'lumotlar)
config_private.json
secrets.json
.env